script(type="text/javascript")
  $(function () {
    new RealtimeCounter('4e78b7c53bab067f7e6a1513').onIncrement(function (count) {
      $('#count').text(count);
    });
  });
h2 count:&nbsp;
  span#count
a(href="/mypage") mypage
